body {
  background: linear-gradient(to right, red, yellow); /* червоний → жовтий */
  height: 100vh;   /* фон на всю висоту екрана */
  margin: 0;       /* прибираємо стандартні відступи браузера */
  display: flex;   /* щоб красиво вирівняти текст */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  color: white;
}

/* Заголовок */
h1 {
  font-size: 48px;
  text-shadow: 2px 2px 8px black;
}

/* Абзац */
p {
  font-size: 20px;
  text-shadow: 1px 1px 5px black;
}
 
button {
  background: orange;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
 
button:hover {
  background: darkorange; /* при наведенні мишкою */
}
